<div class='l-header navbar navbar-default'>
  <div class='l-container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class='logo'>
        <%= link_to image_tag('landing/icn_logo.png', alt: 'OH!study'), '/index.html' %>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="header-menu">
      <ul class='menu nav navbar-nav'>
        <li class="<%= current_page.path.include?('ohapply/') ? 'active' : '' %>">
          <span class='menu-label'>找學校</span>
          <ul class='sub-menu search-school'>
            <li class='clearfix'>
              <div class='sub-menu-label'>國家</div>
              <div class='sub-menu-list'>
                <%= link_to '全部學校', '/ohapply/ohapply.html' %>
                <%= link_to '美國', '/ohapply/ohapply.html' %>
                <%= link_to '加拿大', '/ohapply/ohapply.html' %>
                <%= link_to '英國', '/ohapply/ohapply.html' %>
                <%= link_to '歐洲', '/ohapply/ohapply.html' %>
                <%= link_to '紐西蘭', '/ohapply/ohapply.html' %>
                <%= link_to '澳洲', '/ohapply/ohapply.html' %>
                <%= link_to '亞洲及其他國家', '/ohapply/ohapply.html' %>
              </div>
            </li>
            <li class='clearfix'>
              <div class='sub-menu-label'>課程</div>
              <div class='sub-menu-list'>
                <%= link_to '全部課程', '/ohapply/ohapply.html' %>
                <%= link_to '大學／研究所', '/ohapply/ohapply.html' %>
                <%= link_to '學院', '/ohapply/ohapply.html' %>
                <%= link_to '語言學校', '/ohapply/ohapply.html' %>
                <%= link_to '高中', '/ohapply/ohapply.html' %>
              </div>
            </li>
            <li class='clearfix'>
              <div class='sub-menu-label'>科系</div>
              <div class='sub-menu-list'>
                <%= link_to '全部科系', '/ohapply/ohapply.html' %>
                <%= link_to '商業管理', '/ohapply/ohapply.html' %>
                <%= link_to '設計', '/ohapply/ohapply.html' %>
                <%= link_to '飯店管理', '/ohapply/ohapply.html' %>
                <%= link_to '資訊科技', '/ohapply/ohapply.html' %>
                <%= link_to '教育', '/ohapply/ohapply.html' %>
                <%= link_to '健康照護', '/ohapply/ohapply.html' %>
                <%= link_to '其他', '/ohapply/ohapply.html' %>
              </div>
            </li>
          </ul>
        </li>
        <li class="<%= current_page.path.include?('osstudent/') ? 'active' : '' %>">
          <span class='menu-label'>校友分享</span>
          <div class='sub-menu student-sharing'>
            <%= link_to '全部國家', '/osstudent.html' %>
            <%= link_to '美國', '/osstudent.html' %>
            <%= link_to '加拿大', '/osstudent.html' %>
            <%= link_to '英國', '/osstudent.html' %>
            <%= link_to '歐洲', '/osstudent.html' %>
            <%= link_to '紐西蘭', '/osstudent.html' %>
            <%= link_to '澳洲', '/osstudent.html' %>
            <%= link_to '亞洲及其他國家', '/osstudent.html' %>
          </div>
        </li>
        <li class="<%= current_page.path.include?('news/') ? 'active' : '' %>">
          <span class='menu-label'>最新消息</span>
          <div class='sub-menu news'>
            <%= link_to '留遊學快訊', '/news/page_osnews.html' %>
            <%= link_to '留遊學講座', '/news/seminars.html' %>
            <%= link_to '學校優惠', '/news/preferential.html' %>
          </div>
        </li>
        <li>
          <span class='menu-label'>專屬活動</span>
          <div class='sub-menu events'>
            <%= link_to '海外留遊學展', '/index.html' %>
            <%= link_to 'OH! Study Club', '/index.html' %>
            <%= link_to 'OH! 優惠專案', '/index.html' %>
            <%= link_to '活動花絮', '/index.html' %>
          </div>
        </li>
        <li class="<%= current_page.path.include?('aboutohstudy') ? 'active' : '' %>">
          <span class='menu-label'>關於我們</span>
          <div class='sub-menu about'>
            <%= link_to '品牌故事', '/aboutohstudy.html#about-our-story' %>
            <%= link_to '我們的服務', '/aboutohstudy.html#about-our-service' %>
            <%= link_to '為什麼選擇我們', '/aboutohstudy.html#about-our-advantage' %>
            <%= link_to '專業諮詢團隊', '/aboutohstudy.html#about-our-team' %>
            <%= link_to '全省服務中心', '/aboutohstudy.html#about-our-office' %>
          </div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <div class='reservation'>
      <%= link_to '預約諮詢', '/webform.html', class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
</div>
