---
title: 校友分享 | OH!Study 留遊學教育中心
---

<div class='osstudent'>
  <div class='banner'>
    <h3>校友分享</h3>
  </div>
  <div class='osstudent-country-bar'>
    <div class='l-container'>
      <ul>
        <li class='active'>
          <%= link_to '全部國家', '/osstudent.html' %>
        </li>
        <li>
          <%= link_to '美國', '/osstudent.html' %>
        </li>
        <li>
          <%= link_to '加拿大', '/osstudent.html' %>
        </li>
        <li>
          <%= link_to '英國', '/osstudent.html' %>
        </li>
        <li>
          <%= link_to '歐洲', '/osstudent.html' %>
        </li>
        <li>
          <%= link_to '紐西蘭', '/osstudent.html' %>
        </li>
        <li>
          <%= link_to '澳洲', '/osstudent.html' %>
        </li>
        <li>
          <%= link_to '亞洲及其他國家', '/osstudent.html' %>
        </li>
      </ul>
    </div>
  </div>
  <div class='l-container'>
    <div class='experience-sharing'>
      <%= partial 'views/osstudent/sharing_box' %>
      <%= partial 'views/osstudent/sharing_box' %>
      <%= partial 'views/osstudent/sharing_box' %>
      <%= partial 'views/osstudent/sharing_box' %>
      <%= partial 'views/osstudent/sharing_box' %>
      <%= partial 'views/osstudent/sharing_box' %>
      <%= partial 'views/osstudent/sharing_box' %>
      <%= partial 'views/osstudent/sharing_box' %>
    </div>
    <%= partial 'views/shared/pagination' %>
  </div>
  <%= partial 'views/index/office' %>
</div>
