<div class='news discounts'>
  <div class='banner'>
    <h3>學校優惠</h3>
  </div>
  <div class='l-container'>
    <div class='row'>
      <%= partial 'views/news/discount_box',
        :locals => {
          :ctgy => 'america',
          :tag => '美國',
          :title_en => 'California State University Monterey Bay',
          :title_ch => '加州州立大學 蒙特利灣分校',
          :text => '學費享折扣，另外免費送 Garmin 運動手錶及 Apple 禮品卡'
        } %>
      <%= partial 'views/news/discount_box',
        :locals => {
          :ctgy => 'england',
          :tag => '英國',
          :title_en => 'Daemen College',
          :title_ch => '德門學院',
          :text => '免申請費，還能享最高 75 折的學費！另有超值的宿舍優惠'
        } %>
      <%= partial 'views/news/discount_box',
        :locals => {
          :ctgy => 'america',
          :tag => '美國',
          :title_en => 'California State University Monterey Bay',
          :title_ch => '加州州立大學 蒙特利灣分校',
          :text => '學費享折扣，另外免費送 Garmin 運動手錶及 Apple 禮品卡'
        } %>
      <%= partial 'views/news/discount_box',
        :locals => {
          :ctgy => 'england',
          :tag => '英國',
          :title_en => 'Daemen College',
          :title_ch => '德門學院',
          :text => '免申請費，還能享最高 75 折的學費！另有超值的宿舍優惠'
        } %>
      <%= partial 'views/news/discount_box',
        :locals => {
          :ctgy => 'america',
          :tag => '美國',
          :title_en => 'California State University Monterey Bay',
          :title_ch => '加州州立大學 蒙特利灣分校',
          :text => '學費享折扣，另外免費送 Garmin 運動手錶及 Apple 禮品卡'
        } %>
      <%= partial 'views/news/discount_box',
        :locals => {
          :ctgy => 'england',
          :tag => '英國',
          :title_en => 'Daemen College',
          :title_ch => '德門學院',
          :text => '免申請費，還能享最高 75 折的學費！另有超值的宿舍優惠'
        } %>
      <%= partial 'views/news/discount_box',
        :locals => {
          :ctgy => 'america',
          :tag => '美國',
          :title_en => 'California State University Monterey Bay',
          :title_ch => '加州州立大學 蒙特利灣分校',
          :text => '學費享折扣，另外免費送 Garmin 運動手錶及 Apple 禮品卡'
        } %>
      <%= partial 'views/news/discount_box',
        :locals => {
          :ctgy => 'canada',
          :tag => '加拿大',
          :title_en => 'Johnson & Wales University',
          :title_ch => '強生威爾斯大學',
          :text => '只要報名四週以上，即刻免費贈送環球影城門票即享有學費優惠！'
        } %>
      <%= partial 'views/news/discount_box',
        :locals => {
          :ctgy => 'america',
          :tag => '美國',
          :title_en => 'California State University Monterey Bay',
          :title_ch => '加州州立大學 蒙特利灣分校',
          :text => '學費享折扣，另外免費送 Garmin 運動手錶及 Apple 禮品卡'
        } %>
      <%= partial 'views/news/discount_box',
        :locals => {
          :ctgy => 'england',
          :tag => '英國',
          :title_en => 'Daemen College',
          :title_ch => '德門學院',
          :text => '免申請費，還能享最高 75 折的學費！另有超值的宿舍優惠'
        } %>
    </div>
    <%= partial "views/shared/pagination" %>
  </div>
</div>
