<div id='our-service' class='our-service'>
  <div class='l-container'>
    <h2>我們的服務</h2>
    <div class='service-wrapper'>
      <div class='service-banner'>
        <%= image_tag 'landing/icn_service.png' %>
      </div>
      <div class='service-items'>
        <div class='service-item-group clearfix'>
          <div class='service-item pull-right'>
            <div class='service-icon'>
              <%= image_tag 'landing/icn_service_03.png' %>
            </div>
            <div class='service-item-content'>
              <div class='title'>最適合您的選擇</div>
              <div class='desc'>免費個人化諮詢服務</div>
            </div>
          </div>
          <div class='service-item pull-left'>
            <div class='service-icon'>
              <%= image_tag 'landing/icn_service_01.png' %>
            </div>
            <div class='service-item-content'>
              <div class='title'>國家選擇最多元</div>
              <div class='desc'>合作學校遍佈全球</div>
            </div>
          </div>
        </div>
        <div class='service-item-group clearfix'>
          <div class='service-item pull-right'>
            <div class='service-icon'>
              <%= image_tag 'landing/icn_service_04.png' %>
            </div>
            <div class='service-item-content'>
              <div class='title'>一站式貼心服務</div>
              <div class='desc'>便利周全的包辦</div>
            </div>
          </div>
          <div class='service-item pull-left'>
            <div class='service-icon'>
              <%= image_tag 'landing/icn_service_02.png' %>
            </div>
            <div class='service-item-content'>
              <div class='title'>配合學校最豐富</div>
              <div class='desc'>多領域多專業的跨界學習</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
