<div class='sharing-box'>
  <div class='sharing-img'>
    <%= image_tag 'landing/img_course_01.png' %>
  </div>
  <div class='sharing-header'>
    <div class='title'>歐瑞恩</div>
    <div class='sub-title'>加拿大・留學 3 年</div>
  </div>
  <div class='sharing-body'>
    <div class='text'>怎樣那晚上買琴來的時候你已經在你的小床上睡好，你知道的是慈母的愛，不止是苦，稍稍疏洩我的積愫，身影似的不可解脫。</div>
  </div>
  <div class='sharing-footer'>
    <button class='btn btn-link-style' data-toggle='modal' data-target='#seminars-modal-3'>
      看全文
    </button>
    <span class='divider'>|</span>
    <a href='https://www.youtube.com/' target='_blank' class='btn btn-link-style'>
      <span>觀看影片</span>
      <%= image_tag 'landing/btn_play_normal.png', class: 'icon-play' %>
    </a>
  </div>
  <div class='modal fade' id='seminars-modal-3' tabindex='-1' role='dialog'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        </div>
        <div class='modal-body'>
          <div class='sharing-img'>
            <%= image_tag 'landing/img_course_01.png' %>
          </div>
          <div class='sharing-header sharing-modal-header'>
            <div class='title'>歐瑞恩</div>
            <div class='sub-title'>加拿大・留學 3 年</div>
          </div>
          <div class='sharing-body sharing-modal-body'>
            <div class='text'>怎樣那晚上買琴來的時候你已經在你的小床上睡好，你知道的是慈母的愛，不止是苦，稍稍疏洩我的積愫，身影似的不可解脫。</div>
            <hr />
            <div class='content'>
              <p>學校：<strong>EC English Language Centres - EC 語言中心(美/加/英/馬爾他/南非)</strong></p>
              <p>之所以會選擇聖地牙哥，是因為這裡四季如春，當地居民對待外地人非常友善，還有美麗的城市風光，我非常享受在這的這段時間。<br />
              在這段時間裡，我有很多美好的回憶，特別是學校坐落的La Jolly Cove，這裡的美景令人難以忘懷。<br />
              課程:我目前就讀中級課程，除了主要課程之外，我們還有生活用語和美國文化課程，對我而言都是非常有幫助的。<br />
              住宿:之前我住在寄宿家庭，我非常喜歡那裡，屋主對待我像自家人一樣親切，雖然現在我搬出去了，但是每個星期，我還是會拜訪他們。<br />
              學校位置:學校的地點非常棒，在學校後方是美麗的海灣，我常在那享受我的午餐和陽光。<br />
              師資:學校裡的老師們都非常專業，我們也相處的非常愉快。在這的這段時間裡，我可以感覺到自己的英文有明顯的進步。<br />
              Wen Hao</p>
            </div>
            <img src='http://via.placeholder.com/680x1000'>
          </div>
          <div class='sharing-modal-footer'>
            <div class='action'>
              <%= link_to '馬上預約諮詢', '/webform.html', class: 'btn btn-primary btn-lg' %>
            </div>
            <div class='action'>
              <%= link_to '了解學校詳情', '/', class: 'btn btn-link-style' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
