<div class='l-container'>
  <div class='oh-apply-list'>
    <div class='row'>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '但現在台灣國內環境競爭越來越激烈，只有當有一天，但最後看起來以結果而言似乎沒什麼差別'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '永遠要把對手想得非常強大，做企業不是做俠客，有買的或租的，你說下半年會比上半年悲觀'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '知走一光年，心容易悄悄破碎獨處的時候，撇開日子的奔忙'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '千日為鳥終成人，安睡在天地的大房間。'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '跟往常一樣，走吧，好了嗎，快一點，笑一個，別激動'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '但現在台灣國內環境競爭越來越激烈，只有當有一天，但最後看起來以結果而言似乎沒什麼差別'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '永遠要把對手想得非常強大，做企業不是做俠客，有買的或租的，你說下半年會比上半年悲觀'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '知走一光年，心容易悄悄破碎獨處的時候，撇開日子的奔忙'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '千日為鳥終成人，安睡在天地的大房間。'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '跟往常一樣，走吧，好了嗎，快一點，笑一個，別激動'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '但現在台灣國內環境競爭越來越激烈，只有當有一天，但最後看起來以結果而言似乎沒什麼差別'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師，感謝上師'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '永遠要把對手想得非常強大，做企業不是做俠客，有買的或租的，你說下半年會比上半年悲觀'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '知走一光年，心容易悄悄破碎獨處的時候，撇開日子的奔忙'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '千日為鳥終成人，安睡在天地的大房間。'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '跟往常一樣，走吧，好了嗎，快一點，笑一個，別激動'} %>
    </div>
    <nav aria-label='Page navigation'>
      <ul class='pagination pagination-sm'>
        <li class='disabled'>
          <a href='#' aria-label='Previous'>
            <span aria-hidden='true'>&laquo;</span>
          </a>
        </li>
        <li class='active'><a href='#'>1</a></li>
        <li><a href='#'>2</a></li>
        <li><a href='#'>3</a></li>
        <li><a href='#'>4</a></li>
        <li><a href='#'>5</a></li>
        <li>
          <a href='#' aria-label='Next'>
            <span aria-hidden='true'>&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class='interested'>
    <h2>你可能也有興趣</h2>
    <div class="row">
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '永遠要把對手想得非常強大，做企業不是做俠客，有買的或租的，你說下半年會比上半年悲觀'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '知走一光年，心容易悄悄破碎獨處的時候，撇開日子的奔忙'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '千日為鳥終成人，安睡在天地的大房間。'} %>
      <%= partial 'views/oh_apply/school_card',
        :locals => {:text => '跟往常一樣，走吧，好了嗎，快一點，笑一個，別激動'} %>
    </div>
  </div>
</div>
