<div class='col-md-4'>
  <a href="#" class='discount-box-wrapper'>
    <div class='discount-box <%= locals[:ctgy] %>'>
      <div class='discount-img'>
        <span class='badge'><%= locals[:tag] %></span>
        <img src='http://via.placeholder.com/360x220'>
      </div>
      <div class='discount-title'>
        <span class='en'><%= locals[:title_en] %></span>
        <span><%= locals[:title_ch] %></span>
      </div>
      <div class="discount-body">
        <%= locals[:text] %>
      </div>
    </div>
  </a>
</div>
